<div class="relative inline-block text-left">
    <div class="flex w-[100%]">Sort by:
        <button type="button" class="inline-flex justify-center w-full rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-sm font-medium text-gray-700 focus:outline-none focus:ring focus:border-blue-300">
            Most Recent
            <svg class="ml-2 -mr-1 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M10 14l6-6-1.41-1.41L10 11.17l-4.59-4.58L3 8l6 6zm0 0l6-6-1.41-1.41L10 11.17l-4.59-4.58L3 8l6 6z" clip-rule="evenodd" />
            </svg>
        </button>
    </div>

    <!-- Dropdown Content -->
    <div class="hidden origin-top-right absolute right-0 mt-2 w-56 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5">
        <div class="py-1">
            <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Option 1</a>
            <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Option 2</a>
            <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Option 3</a>
        </div>
    </div>
</div>