<div class="h-10 flex justify-between p-2 border-b-#e5e7eb">
    <h1><%= link_to "-- LOGO --", root_path, class:"font-bold", method: :get %></h1>
    <ul class="decoration-none flex">
        <li>Nav 1</li>
        <li>Nav 2</li>
        <li>Nav 3</li>
    </ul>
</div>