
<section class="bg-white">
    <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16">
        <h1 class="mb-4 text-3xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl px-10">Creating E-Commerce Opportunities with Seamless Web Scraping</h1>
        <p class="mb-5 text-lg font-normal text-gray-500 lg:text-lg sm:px-16 lg:px-40">Scrape Marketplace Items -> Apply Price Markup -> Publish on Facebook Marketplace.</p>

        <%# <hr> %>
        <div class="flex space-y-4 sm:flex-row sm:justify-center sm:space-y-0 py-5 rounded-lg relative mt-4">

            <div class="overlay loading hidden"></div>
            <div class="spinner loading hidden">
                <img src="https://flowbite.com/docs/images/logo.svg" class="h-8 cursor-pointer" alt="Flowbite Logo" />
            </div>
            <p class="loading-text loading hidden">Processing scrape...</p>


            <div class="flex-[0.5] max-w-md p-3 border border-gray-200 rounded-lg shadow text-left bg-[#F6F6F6] mr-2">
                <a href="#">
                    <h5 class="mb-2 text-2xl font-semibold tracking-tight text-gray-900 mb-3">How it works</h5>
                </a>
                <div class="flow-root max-w-3xl mx-auto mt-2 sm:mt-2 lg:mt-6">
                    <div class="-my-4 divide-y divide-gray-200 ">
                        <div class="flex flex-col gap-2 py-3 sm:gap-2 sm:flex-row sm:items-start">
                            <p class="w-4 text-sm font-bold text-gray-700 sm:text-right shrink-0">
                                1.
                            </p>
                            <h3 class="text-sm font-normal text-[#434343]">
                                <a href="#" class="hover:underline">Go to gumtree.com.au and search for your desired item.</a>
                            </h3>
                        </div>
                        <div class="flex flex-col gap-2 py-3 sm:gap-2 sm:flex-row sm:items-start">
                            <p class="w-4 text-sm font-bold text-gray-700 sm:text-right shrink-0">
                                2.
                            </p>
                            <h3 class="text-sm font-normal text-[#434343] ">
                                <a href="#" class="hover:underline">Copy the URL from the search results page in this format: "https://www.gumtree.com.au/s-[search-item-here]"</a>
                            </h3>
                        </div>
                        <div class="flex flex-col gap-2 py-3 sm:gap-2 sm:flex-row sm:items-start">
                            <p class="w-4 text-sm font-bold text-gray-700 sm:text-right shrink-0">
                                3.
                            </p>
                            <h3 class="text-sm font-normal text-[#434343]">
                                <a href="#" class="hover:underline">Paste it into the search field to the right, adjust the number of items to scrape, and click the "Scrape URL" button.</a>
                            </h3>
                        </div>

                        <div class="flex gap-2 py-2 pb-4 sm:gap-2 sm:flex-col sm:items-center">
                            <p class="w-[100%] text-sm font-normal text-[#434343]">
                                or simple copy this url:
                            </p>
                            <h3 class="text-sm font-semibold text-gray-500  border border-gray-300 flex rounded-md">
                                <a href="#" class="text-[12px] hover:underline text-blue-500 px-2" >https://www.gumtree.com.au/s-men-s-shoes/melbourne-city/jordan/k0c18573l3001571</a>
                                <div class="border border-gray-300  rounded-md  cursor-pointer text-center align-middle justify-center pt-1 px-2">
                                
                                <svg onclick="copyLink(this); return false;" class="w-6 h-6 text-gray-800 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                    <path stroke="currentColor" stroke-linejoin="round" stroke-width="2" d="M9 8v3a1 1 0 0 1-1 1H5m11 4h2a1 1 0 0 0 1-1V5a1 1 0 0 0-1-1h-7a1 1 0 0 0-1 1v1m4 3v10a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1v-7.13a1 1 0 0 1 .24-.65L7.7 8.35A1 1 0 0 1 8.46 8H13a1 1 0 0 1 1 1Z"/>
                                    </svg>
                                </div>
                            </h3>
                        </div>
                    </div>
            </div>
                    

            </div>


            <div class="flex-[0.7] flex border border-light-400 w-[65%] flex-col items-center justify-center m-[auto] py-5 pb-10 border-gray-200 rounded-lg shadow ml-2 ">
                <ul class="flex flex-wrap -mb-px text-sm font-medium text-center text-gray-500 dark:text-gray-400 m-[auto] w-[83%] ">
                    <li class="me-2">
                        <a href="#" aria-current="page" class="flex p-4 text-blue-600 bg-gray-100 rounded-t-lg active">
                            <svg class="w-4 h-4 me-2 text-blue-600 dark:text-blue-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 18">
                                <path d="M6.143 0H1.857A1.857 1.857 0 0 0 0 1.857v4.286C0 7.169.831 8 1.857 8h4.286A1.857 1.857 0 0 0 8 6.143V1.857A1.857 1.857 0 0 0 6.143 0Zm10 0h-4.286A1.857 1.857 0 0 0 10 1.857v4.286C10 7.169 10.831 8 11.857 8h4.286A1.857 1.857 0 0 0 18 6.143V1.857A1.857 1.857 0 0 0 16.143 0Zm-10 10H1.857A1.857 1.857 0 0 0 0 11.857v4.286C0 17.169.831 18 1.857 18h4.286A1.857 1.857 0 0 0 8 16.143v-4.286A1.857 1.857 0 0 0 6.143 10Zm10 0h-4.286A1.857 1.857 0 0 0 10 11.857v4.286c0 1.026.831 1.857 1.857 1.857h4.286A1.857 1.857 0 0 0 18 16.143v-4.286A1.857 1.857 0 0 0 16.143 10Z"/>
                            </svg>
                            Gumtree
                        </a>
                    </li>
                   <li class="me-2">
                        <a href="#" class="inline-block p-4 rounded-t-lg hover:text-gray-600 hover:bg-gray-50 dark:hover:bg-gray-800 dark:hover:text-gray-300">Cash Converters</a>
                    </li>
                    <li class="me-2">
                        <a href="#" class="inline-block p-4 rounded-t-lg hover:text-gray-600 hover:bg-gray-50 dark:hover:bg-gray-800 dark:hover:text-gray-300">Ebay</a>
                    </li>
                </ul>
                
                <div class="flex-row justify-center items-center mt-[5px] m-[auto] w-[85%]">
                     <%= render partial: 'shared/searchform', locals: { url: @url } %>
                </div> 
            </div>

        </div>
    </div>
</section>

<script>
    function copyLink(link) {
      var tempInput = document.createElement('input');
      tempInput.value = "https://www.gumtree.com.au/s-men-s-shoes/melbourne-city/jordan/k0c18573l3001571";
      document.body.appendChild(tempInput);
      tempInput.select();
      document.execCommand('copy');
      document.body.removeChild(tempInput);
      alert('Link copied to clipboard: ');
    }
</script>