
<%# <section class="bg-white dark:bg-gray-900"> %>
<section class="bg-white">
    <% flash.each do |type, msg| %>
        <div class="text-center bg-red-400 text-white">
            <%= msg %>
        </div>
    <% end %>
    <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16">
        <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl">Creating E-Commerce Opportunities with Seamless Web Scraping</h1>
        <p class="mb-5 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 lg:px-48 dark:text-gray-400">Scrape Gumtree Items -> Apply Price Markup -> Publish on Facebook Marketplace.</p>


        <div class="flex-col space-y-4 sm:flex-row sm:justify-center sm:space-y-0 py-9 rounded-lg relative">

            <div class="flex border border-light-400 w-[65%] flex-col items-center justify-center m-[auto] py-5 pb-10 rounded-md">
                <ul class="flex flex-wrap -mb-px text-sm font-medium text-center text-gray-500 dark:text-gray-400 m-[auto] w-[83%]">
                    <li class="me-2">
                        <a href="#" aria-current="page" class="flex p-4 text-blue-600 bg-gray-100 rounded-t-lg active dark:bg-gray-800 dark:text-blue-500">
                        <svg class="w-4 h-4 me-2 text-blue-600 dark:text-blue-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 18">
                                <path d="M6.143 0H1.857A1.857 1.857 0 0 0 0 1.857v4.286C0 7.169.831 8 1.857 8h4.286A1.857 1.857 0 0 0 8 6.143V1.857A1.857 1.857 0 0 0 6.143 0Zm10 0h-4.286A1.857 1.857 0 0 0 10 1.857v4.286C10 7.169 10.831 8 11.857 8h4.286A1.857 1.857 0 0 0 18 6.143V1.857A1.857 1.857 0 0 0 16.143 0Zm-10 10H1.857A1.857 1.857 0 0 0 0 11.857v4.286C0 17.169.831 18 1.857 18h4.286A1.857 1.857 0 0 0 8 16.143v-4.286A1.857 1.857 0 0 0 6.143 10Zm10 0h-4.286A1.857 1.857 0 0 0 10 11.857v4.286c0 1.026.831 1.857 1.857 1.857h4.286A1.857 1.857 0 0 0 18 16.143v-4.286A1.857 1.857 0 0 0 16.143 10Z"/>
                            </svg>
                            Gumtree</a>
                    </li>
                   <li class="me-2">
                        <a href="#" class="inline-block p-4 rounded-t-lg hover:text-gray-600 hover:bg-gray-50 dark:hover:bg-gray-800 dark:hover:text-gray-300">Ebay</a>
                    </li>
                </ul>
                
                <div class="flex-row justify-center items-center w-[80%] h-[100%] mt-[10px] m-[auto]">
                    <ul class="hidden text-sm font-medium text-center text-gray-500 rounded-lg shadow sm:flex dark:divide-gray-700 dark:text-gray-400 mb-1">
                        <li class="w-sm focus-within:z-10">
                            <a href="#" class="inline-block w-full p-4 text-gray-900 bg-gray-100 border-r border-gray-200 dark:border-gray-700 rounded-s-lg focus:ring-4 focus:ring-blue-300 active focus:outline-none dark:bg-gray-700 dark:text-white" aria-current="page">Scrape Multiple Items</a>
                        </li>
                        <li class="w-sm focus-within:z-10">
                            <a href="#" class="inline-block w-full p-4 bg-white border-r border-gray-200 dark:border-gray-700 hover:text-gray-700 hover:bg-gray-50 focus:ring-4 focus:ring-blue-300 focus:outline-none dark:hover:text-white dark:bg-gray-800 dark:hover:bg-gray-700">Scrape Single Item</a>
                        </li>
                    </ul>
                     <%= render partial: 'shared/searchform', class: 'mx-auto w-[40%] border border-red-400', locals: { url: @url } %>
                </div> 
            </div>

        </div>
    </div>
</section>
