<section class="w-[100%] border h-[90vh] overflow-y-hidden">
    <% flash.each do |type, msg| %>
        <div class="text-center bg-red-400 text-white">
            <%= msg %>
        </div>
    <% end %>

    <div class="m-auto w-[100%] h-[100%]">   
        <%# <h1 class="text-6xl text-red-700">Home</h1> %>

        <div class="flex justify-center items-center w-[100%] h-[100%]">
            <%= render partial: 'shared/searchform', class: 'mx-auto w-[40%] border border-red-400' %>
        </div>
    </div>
</section>

