<section class="bg-white">
    <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16">
        <h1 class="mb-4 text-3xl font-normal tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl px-10">Coming Soon...</h1>
    </div>
</section>