<section class="bg-white antialiased">
  <div class="max-w-screen-xl px-4 py-2 mx-auto lg:px-6 sm:py-16 lg:py-14">
    <div class="max-w-3xl mx-auto text-center">
      <h2 class="text-3xl font-extrabold leading-tight tracking-tight text-gray-900">
        Dev logs
      </h2>
    </div>

    <div class="flow-root max-w-3xl mx-auto mt-3 sm:mt-12 lg:mt-6">
      <div class="-my-2 divide-y divide-gray-200 ">

        <div class="flex flex-col gap-2 py-4 sm:gap-6 sm:flex-row sm:items-center">
          <p class="w-32 text-md font-normal text-gray-500 sm:text-right shrink-0">
            17/04/2024
          </p>
            <p></p>
        </div>

        <div class="flex flex-col gap-2 py-4 sm:gap-6 sm:flex-row sm:items-center">
          <p class="w-32 text-md font-normal text-gray-500 sm:text-right shrink-0">
            16/04/2024
          </p>
            <p>Implemented multithreading optimization to the Gumtree scraping script, updated the UI for the search and listing page, customized edit page forms, and created a new stores page.</p>
        </div>

      </div>
    </div>
  </div>
</section>